---
import '../styles/base.css';

import Button from '@components/Button.astro';
import Layout from '../layouts/Layout.astro';

import coffee from '@assets/img/coffee.webp';
---

<Layout title="Anasayfa">
  <div
    class="fixed inset-0 -z-10 grid grid-cols-1 grid-rows-[3fr_1fr] lg:grid-rows-1 lg:grid-cols-[3fr_1fr]"
  >
    <div class="bg-secondary-300"></div>
    <div class="relative bg-primary-300">
      <img
        src={coffee}
        alt="Coffee Mug filled with a cup of coffee"
        class="coffee-mug absolute h-full bottom-1/2 left-1/2 rotate-180 -translate-x-1/2 lg:h-auto lg:translate-x-0 lg:left-auto lg:top-1/2 lg:-translate-y-1/2 lg:right-1/2 lg:rotate-90"
      />
    </div>
  </div>
  <h1 class="font-bold mb-8 text-5xl text-center lg:text-8xl lg:w-2/3 lg:text-left">
    Moji Coffee Shop
  </h1>
  <p class="mb-12 text-center text-xl lg:text-2xl lg:text-left">
    Büyükada'nın en samimi kahve dükkanı.
  </p>
  <Button path="/menu">Menümüzü Görüntüleyin</Button>
</Layout>
