---
import {getCollection} from 'astro:content';
import '../styles/base.css';

import Layout from '../layouts/Layout.astro';
import MenuAccordion from '@components/MenuAccordion';

const menu = await getCollection('menu');
const orderedMenu = menu.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Menü">
  <div class="cut-layout">
    <h1 class="font-bold mb-8 text-5xl text-center lg:text-8xl lg:w-2/3 lg:text-left">Menü</h1>
    <div class="w-full h-full overflow-scroll">
      {
        orderedMenu.map(item => (
          <MenuAccordion client:visible heading={item.data.heading} items={item.data.items} />
        ))
      }
    </div>
      <!-- <p class="mt-3 text-center text-xl lg:text-2xl lg:text-left">Takeaway +5₺</p> -->
  </div>
</Layout>
